<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Slider transitions</title>
  <link rel='stylesheet' href='https://cdn.rawgit.com/filipelinhares/ress/master/dist/ress.min.css'><link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- Page Wrap -->

<div class="page-wrap">
  <div class="tab-container top-right">
    <a href="./" class="tab">Home</a>
    <a href="./apply" class="tab">Quickly Start</a>
  </div>
  
  <div id="home-slider">
    
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-one">
          <div class="swiper-image" data-swiper-parallax-y="-20%">
            <div class="swiper-image-inner swiper-image-left swiper-image-one">
              <h1>AI3603 <span class="emphasis">Final Project</span> <br><br><span, style="color: aliceblue;">Image Style Translation</span></h1>
              <p>Minghao Liu <br><br>Siyuan Qi <br><br> Shixiang Song
            </div>
          </div>
          <div class="swiper-image" data-swiper-parallax-y="35%">
            <div class="swiper-image-inner swiper-image-right swiper-image-two">
              <p class="paragraph">
                Background: The generative model has advanced tremendously in recent years and is even capable of mimicking museum-worthy works of artists through their unique style. But creating masterpieces is thought of to be, well, more art than science. So can data science, in the form of GANs, trick classifiers into believing you've created a true art?
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-two">
          <div class="swiper-image" data-swiper-parallax-y="-20%">
            <div class="swiper-image-inner swiper-image-left swiper-image-three">
              <h1><span class="emphasis">CycleGan Model </span></h1>
            </div>
          </div>
          <div class="swiper-image" data-swiper-parallax-y="35%">
            <div class="swiper-image-inner swiper-image-right swiper-image-four">
              <p class="paragraph">
                An example of CycleGan produced.            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-three">
          <div class="swiper-image" data-swiper-parallax-y="-20%">
            <div class="swiper-image-inner swiper-image-left swiper-image-five">
              <h1><span class="emphasis">Diffusion Model </span></h1>
            </div>
          </div>
          <div class="swiper-image" data-swiper-parallax-y="35%">
            <div class="swiper-image-inner swiper-image-right swiper-image-six">
              <p class="paragraph">
                An example of Diffusion Model produced.   
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js'></script><script  src="/static/js/script.js"></script>

</body>
</html>
